<div class="container">
<h1>Vendor Listing</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
 
      <th>Description</th>
      <th>Image URL</th>
      <th>Twitter ID</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>


  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.name %></td>
        <td><%= vendor.url %></td>
        <td><%= vendor.description %></td>
        <td><%= vendor.image_url %></td>
        <td><%= vendor.twitter_id %></td>


        <td><%= link_to 'Show', region_vendor_path(@region, vendor) %></td>
        <td><%= link_to 'Edit', edit_region_vendor_path(@region, vendor) %></td>
        <td><%= link_to 'Destroy', region_vendor_path(@region, vendor), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New vendor', new_region_vendor_path %>
</div>


