<div class="container">
<h1>Items Listing</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Season start</th>
      <th>Season end</th>
      <th>Region</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><img src="<%= item.image_url %>" class="img-circle item_thumb"></td>
        <td><%= item.name %></td>
        <td><%= item.season_start %></td>
        <td><%= item.season_end %></td>
        <td><%= item.region %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
</div>
