<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Season start:</strong>
  <%= @item.season_start %>
</p>

<p>
  <strong>Season end:</strong>
  <%= @item.season_end %>
</p>

<p>
  <strong>Region:</strong>
  <%= @item.region %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
<hr>
 -->
 <div class="container-fluid">
  <div class="row-fluid">      
    <div class="span4">
      <div class="">
        <h2><%= @item.name %></h2>
        <img src="<%= @item.image_url %>" width="100%" />
        <div>
          <h4>Try these recipes</h4>

 <div id="this-carousel-id" class="carousel slide" ><!-- class of slide for animation -->
            <div class="carousel-inner">

              <% my_index = 1 %>

  <% @recipes.each do |recipe|  %>
       
          
              <% if my_index == 1 then
                active_class = "active"
              else
                active_class = " "
              end           
              %>
              <div class="item <%= active_class %>" style="background-image: url('<%= recipe['image_url'] %>'); background-size:100%; height: 200px;    background-repeat:no-repeat; background-position:center center; background-color:#000">
                

                
                <div class="well well-small recipe_label">
                  <a href="<%= recipe['f2f_url'] %>" target="recipe"><strong><%= recipe['title'] %></strong></a>
                </div>
              </div>
              
              <% 
              my_index = my_index +1
              end %>


             
          <!--     <div class="item" id="item3">
                <div class="hero-unit hero-overlay" >
                  <h1>Heirloom Tomatoes</h1>
                  <p>Heirloom Tomatoes  in sesaon</p>
                  <p>
                    <a class="btn btn-primary btn-large">
                      Learn more
                    </a>
                  </p>
                </div>
              </div> -->

            <!--   <div class="item" id="item4">
                <div class="hero-unit hero-overlay pull-right" >
                  <h1>Pistachios</h1>
                  <p>Pistachios in sesaon</p>
                  <p>
                    <a class="btn btn-primary btn-large">
                      Learn more
                    </a>
                  </p>
                </div>
              </div> -->
            </div><!-- /.carousel-inner -->
            <!--  Next and Previous controls below
                  href values must reference the id for this carousel -->
              <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
          </div><!-- /.carousel -->



<!-- 

          <% @recipes.each do |recipe|  %>
          <div class="well">
            <a href="<%= recipe['f2f_url'] %>" target="recipe"><h5><%= recipe['title'] %></h5></a>
            <a href="<%= recipe['f2f_url'] %>" target="recipe"><span class="thumb_container">
                  <img class="media-object thumb" width="200" src="<%= recipe['image_url'] %>">
                  </span></a>
            <p><a href="<%= recipe['f2f_url'] %>" target="recipe">View Recipe</a></p>
          </div>
          <% end %> -->
        </div>
      </div>
    </div>

    <div class="span8">
      <div>
        <h3>Selling in these Markets</h3>
        


            



<%= render 'layouts/markets' %>
       
        
      </div>
    </div>


  </div>
</div>

 
