<%= form_for([@region, @market])  do |f| %>
<!-- WHATS WRONG HERE? -->
  <% if @market.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@market.errors.count, "error") %> prohibited this market from being saved:</h2>
      <ul>
      <% @market.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div>
  <table class="table">
    <tr>
      <th>Day of Week</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Season Start</th>
      <th>Day</th>
      <th>Season End</th>
      <th>Day</th>
    </tr>
  <% @market.market_times.each do |mt| %>
    <%= render "market_times", :time => mt %>
  <% end %>
  </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

