<div class="container">
  <div class="row-fluid">      
    <div class="span6">
      <h2><%= @market.name %></h2
        <img src="<%= @market.image_url %>" >
        <p><%= @market.description %></p>
        <p>
    
        </p>
        <a href="http://maps.google.com/maps?saddr=<%= @market.address %>" target="mrk_directions"><p><%= @market.address %></p>
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= URI.escape(@market.address) %>&zoom=13&size=800x500&maptype=roadmap
        &markers=color:green%7Clabel:%7C<%= URI.escape(@market.address) %>&sensor=false"></a>       
    </div>
    <div class="span6">
     <h3>Market Times</h3>
      <table class="table">
      <% @times.each do |time| %>
      <tr>
        <td><%= time.day %></td>
        <td><%= time.start_time %></td>
        <td><%= time.end_time %></td>   
      </tr>
      <% end %>
     
    </table>
    </div>
  </div>
</div>
 