<div class="container-fluid">
  <div class="row-fluid">      
    <div class="span4">
      <div class="">
        <h2><%= @market.name %></h2>
        <p><%= @market.description %></p>
        <div><%= @market.address %></div>
      </div>
      <div><%= @market.day_week %> | <%= @market.start_time %> - <%= @market.end_time %></div>
      <div>
      
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= URI.escape(@market.address) %>&zoom=13&size=800x500&maptype=roadmap
        &markers=color:green%7Clabel:%7C<%= URI.escape(@market.address) %>&sensor=false">
      </div>     
    </div>
    <div class="span4">
      <div>
        <h3>Selling at this market</h3>
  
        <%= render 'layouts/items' %>
      </div>
    </div>
    <div class="span4">
      <div>
        <h3>Vendors at this market</h3>
         <%= render 'layouts/vendors' %>
      </div>
    </div>
  </div>
</div>
 