 <div class="row-fluid">
            <div class="span7">
             
              <img src="http://maps.googleapis.com/maps/api/staticmap?center=Los+Angeles+California&zoom=13&size=800x500&maptype=roadmap
        &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
        &markers=color:red%7Ccolor:red%7Clabel:C%7C40.718217,-73.998284&sensor=false">
            </div>
            <div class="span5">

<% @markets.each do |market| %>
              <div class="media">
                <a class="pull-left" href="#">
                  <span class="thumb_container">
                  <img class="media-object thumb" data-src="holder.js/64x64" width="100" src="<%= market.image_url %>">
                  </span>
                </a>
                <div class="media-body">
                  <h4 class="media-heading"><%= link_to market.name, market %></h4> 

                  <%= market.start_time.strftime("%I:%M %p") %> - 
                  <%= market.end_time.strftime("%I:%M %p") %>,
                  <%= market.day_week %>
                 <!--  <p><%= market.description %></p> -->
                </div>
              </div>
<% end %>
            </div>
          </div>

